# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim Temporary Files
~*
*.swp

# Windows shortcuts
*.lnk

# Dota 2
__*__.a
autoexec.cfg
config.cfg
